.likelion {
  .likelion__list {
    list-style: none;

    /* &는 자기자신이 포함된 블록의 클래스이름을 참조 */
    &:hover {
      background: pink;
    }
  }

  .likelion__link {
    color: inherit;
    text-decoration: none;
  }
  .likelion__item {
    color: green;
  }
}
