/* 클래스 선택자 */
/* 배경색상 */
/* font-variant 속성으로 대문자 변환은 가능했지만 
크기가 작은 대문자인 관계로 주석처리 */
/* 검색을 통해 text-transform 속성을 
알게되었고 대문자로 변환하는 값을 적용함 */
/* text-transform 속성을 .member-service에 
선언함으로써 자식 요소 모두에 상속되도록 함 */
/* fint-size:0을 지정해서 공백문자가 크기를 갖지 않도록 상속 */
.member-service {
  background-color: yellow;
  /* font-variant: small-caps; */
  text-transform: uppercase;
  /* font단축 속성을 사용하여 글자 크기와 글꼴을 지정정 */
  /* font: 18px, suit, sans-serif; */
  line-height: 1.5;
  font-size: 0;
}
/* 태그 선택자 */
/*  웹 브라우저 스타일(밑줄)을 재정의 */
/* 웹브라우저 링크 스타일(색상)을 재정의(상속) */
/* 안쪽 여백(좌우) */
.item {
  font-size: 0.875rem;
  text-decoration: none;
  color: inherit;
  /* padding-left: .5rem;
  padding-right: .5rem; */
  background-color: pink;
}
/* a요소이면서 가상요소 선택자 */
.item::before {
  content: ':';
  padding-left: 16px;
  padding-right: 16px;
  background-color: pink;
}
/* a요소보다 우선순위 */
.item.first::before {
  content: '';
}

/* UL 요소를 활용한 예시 */
.member-link {
  background-color: yellow;
  margin: 0;
  list-style: none;
  padding-left: 0;
  font-size: 0;
  text-transform: uppercase;

  li {
    display: inline-block;
    * {
      font-size: 0.875rem;
      display: inline-block;
    }
    a {
      color: inherit;
      /* padding-left: 8px;
      padding-right: 8; */
      padding: 8px;
      background-color: aqua;
      text-decoration: none;
    }
    span {
      margin-left: 8px;
      margin-right: 8px;
    }
  }
}
