body *,
body *::after,
body *::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  padding-left: 0;
}

body {
  font-family: 'SUIT', sans-serif;
}

/* 멤버 서비스 */
.member-service {
  background-color: yellow;
  display: flow-root;
  .item {
    background-color: lime;
    text-transform: uppercase;
    float: left;
  }
  .item::before {
    content: '|';
    margin: 0 0.5em;
  }

  .first::before {
    content: '';
  }
}

/* 멤버 링크 */
.member-link {
  border: 1px solid red;
  display: flow-root;
  li {
    background: skyblue;
    float: left;
  }
  span {
    background-color: pink;
    float: left;
    margin: 0 0.5em;
  }

  a {
    text-transform: uppercase;
    background-color: orange;
    float: left;
  }
}
