:root {
  /* 색상 */
  --gray: #929b90;
  --green: #22be61;
  /* 여백 */
  --spacing-10: 0.625rem;
  --spacing-20: 1.25rem;
  --spacing-70: 4.375rem;
  /* font-size */
  --large: 1.125rem;
  --medium: 0.875rem;
  --small: 0.75rem;
  /* border-radius */
  --radius: 0.5rem;
}

body {
  margin: 50px;
}

.goods {
  .milk {
    background-image: url(/src/assets/images/placeholder.png);
    background-repeat: no-repeat;
    background-position: .5rem; 50%;
    padding-left: 5.25rem;
    border: 1px solid red;
    position: relative;
    height: 70px;

    .count {
      border: 1px solid #b3b3b3;
      position: absolute;
      top: 22px;
      right: 8px;
      border-radius: 18px;
      padding: 2px 8px;
      background-color: #EEE;
    }

    .name{
      margin-top: 15px;
    }

    .price{
      margin-top: 8px;
    }
  }
}
